* {
  all: unset;
  font-family: FiraCode Nerd Font Mono;
}

.main-entry {
  background-color: rgba(blue, 0.1);

  &:hover {
    background-color: rgba(orangered, 0.3);
    transition: 3s all;
  }
}

.results-box {
  label.active {
    color: red;
  }
}

.bar-main-window {
  margin: 10px;

  button.active,
  *.active {
    color: red;
  }

  .label-icon * {
    margin: 0 3px;
  }

  .cpu {
    * {
      color: orangered;
    }

    ._icon {
      margin: 0 1px;
      color: mix(blue, white, 60);
    }
  }
}

.osk-main-window {
  button {
    border: darkblue 3px solid;
    font-size: 3rem;
    min-width: 40px;
    padding: 3px;
    margin: 3px;

    &:active {
      background-color: greenyellow;
    }

    &:hover {
      background-color: blue;
    }
  }
}
