* {
  all: unset;
}

.main-entry {
  background-color: rgba(blue, 0.1);

  transition: 3s all;

  &:hover {
    background-color: rgba(orangered, 0.3);
  }
}

.results-box {
  label.active {
    color: red;
  }
}

.bar-main-window {
  margin: 10px;

  button.active {
    color: red;
  }

  .label-icon * {
    margin: 0 3px;
  }

  .cpu {
    * {
      color: orangered;
    }

    ._icon {
      margin: 0 1px;
      color: mix(blue, white, 60);
    }
  }
}
